<launch>

    <node name="boat_node" pkg="guerleboat" type="node_boat.py" output="screen">
    </node>

    <node name="control_node" pkg="guerleboat" type="node_control.py" output="screen">
    </node>
    
    <node pkg="mavros" type="mavros_node" name="mavros" clear_params="true" output="log">
        <param name="fcu_url" value="tcp://10.0.11.130:4003" />
        <!-- Topic Remaps for use on ROS -->
        <remap from="/mavros/setpoint_velocity/cmd_vel_unstamped" to="/cmd_vel" />
    </node>
  
    
</launch>
