<launch>

    <arg name="get_logs" default="false" />
    <arg name="simulate_dock" default="false" />
    <arg name="simulate_dock_with_log" default="false" />
    <arg name="bag_played" default=""/>
    <arg name="latitude" default="48.19894652483758"/>
    <arg name="longitude" default="-3.0156170343320365"/>
    <arg name="yaw" default="0."/>

    <node pkg="mavros" type="mavros_node" name="mavros" clear_params="true" output="log">
        <param name="fcu_url" value="tcp://10.0.11.130:4003" />
        <!-- Topic Remaps for use on ROS -->
        <remap from="/mavros/setpoint_velocity/cmd_vel_unstamped" to="/cmd_vel" />
    </node>

    <!-- <node name="mavsafety" pkg="mavros" type="mavsafety" output="screen" args="arm">
    </node>

    <node name="mavsys_mode" pkg="mavros" type="mavsys" output="screen" args="mode -c GUIDED">
    </node> -->
    <!-- <node name="mavsys_mode" pkg="mavros" type="mavsys" output="screen">
        <param name="cmd_args" value="mode -c GUIDED"/>
    </node> -->

    <!-- <node name="sbg_device" pkg="sbg_driver" type="sbg_device" output="screen">
  	    <rosparam command="load" file="$(find sbg_driver)/config/example/ellipse_D_default.yaml" />
    </node> -->

    <include file="$(find sbg_driver)/launch/examples/sbg_ellipseD.launch"/>

    <node name="boat_node" pkg="guerleboat" type="node_boat.py" output="screen">
    </node>

    <node name="control_node" pkg="guerleboat" type="node_control.py" output="screen">
    </node>

    <node name="udp_converter_node" pkg="guerleboat" type="node_udp_converter.py" output="screen"
        unless="$(arg simulate_dock)" />
    
    <node name="udp_simulator_node" pkg="guerleboat" type="node_udp_simulator.py" output="screen"
        if="$(arg simulate_dock)" >
        <param name="latitude" type="double" value="$(arg latitude)"/>
        <param name="longitude" type="double" value="$(arg longitude)"/>
        <param name="yaw" type="double" value="$(arg yaw)"/>
    </node>

    <node name="rosbag_player" pkg="rosbag" type="play" output="screen"
        if="$(arg simulate_dock_with_log)"
        args="-l $(arg bag_played) --topics /udp_publisher">
    </node>

    <node pkg="rosbag" type="record" name="rosbag_record_boat"
       args="record -o /home/surcouf/guerlelogs/boat.bag /nav/dock_pose /nav/boat_pose /cmd_vel /nav/boat_kalman /dock/udp_publisher"
       if="$(arg get_logs)" />
    
</launch>
       <!-- args="record -o /home/guerlelogs/boat.bag /cmd_vel /sbg/ekf_quat /sbg/gps_pos" -->
