<launch>

    <arg name="record_rover" default="true" />



    <node name="rover_node" pkg="guerlerover" type="node_rover.py" output="screen">
    </node>

    <node name="control_node" pkg="guerlerover" type="node_control.py" output="screen">
    </node>
    
    <node pkg="rosbag" type="record" name="rosbag_record_rover"
       args="record -a -o /home/guerlelogs/rover.bag"
       if="$(arg record_rover)" />

  
    
</launch>
       <!-- args="record -o /home/guerlelogs/boat.bag /cmd_vel /sbg/ekf_quat /sbg/gps_pos" -->
